:not([class*="divider"]) + div[class*="groupStart"]::before {
    all: unset;
    content: "";
    z-index: 9999;
    min-width: 100%;
    width: 100%;
    border-top: 1px solid #404349;
    display: block;
    margin-left: -56px;
    padding-right: 58px;
    margin-bottom: 15px;
    padding-top: 5px;
}

div[class*="cozyMessage"][class*="mentioned"] {
    background: initial;
}

div[class*="cozyMessage"][class*="mentioned"]::before {
    display: none;
}

div[class*="cozyMessage"][class*="mentioned"] > div[class*="containerCozy"] {
    background: #46423c;
}

div[class*="cozyMessage"][class*="mentioned"] > div[class*="containerCozy"]::before {
    content: " ";
    display: inline-block;
    background-color: #faa61a !important;
    color: #faa61a !important;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    margin-left: -5px;
    width: 4px;
    margin-right: 0.5px;
}

div[tabindex="0"][aria-label^="Add Reaction: "] {
    display: none;
}

div[class^="emojiSeparator"] {
    display: none;
}

div[class*="buttons"] > div[class*="wrapper"] {
    margin-top: 23px;
    transform: scale(0.85);
}

div[class*="groupStart"] > div[class*="buttonContainer"] > div[class*="buttons"] > div[class*="wrapper"] {
    margin-top: 55px;
    transform: scale(0.85);
}

div[class*="divider"] + [class*="groupStart"] > div[class*="buttonContainer"] > div[class*="isHeader"] > div[class*="wrapper"] {
    margin-top: 35px !important;
    transform: scale(0.85);
}

div[class*="buttonContainer"] > div[class*="buttons"][class*="container"] {
    border: none !important;
    border-radius: 0px !important;
    background: transparent;
}

div[class*="buttonContainer"] > div[class*="container"] > div[class*="wrapper"] {
    border: none !important;
    outline: none !important;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none !important;
}

div[tabindex="0" aria-controls*="poput_"]:hover {
    background-color: initial;
}

[class*="unreadPill"] {
    display: none;
}

[class*="isUnread"] {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

[class*="isUnread"]::after {
    content: "NEW MESSAGES";
    background: #36393f;
    margin: 10px;
    color: #A84244;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

[class*="group-spacing"] {
    margin-bottom: 16px;
}

.theme-dark {
    --background-message-hover: #36393f;
    --background-mentioned-hover: #36393f;
}

div[class*="cozyMessage"] > div[class*="markup"] {
	line-height: 1.15rem !important;
}

div[class*="cozyMessage"] {
	min-height: 1.15rem !important;
}

/*button[aria-label="Send a gift"] {
	display: none;
}

a[href="/store"] {
	display: none !important;
}

[class*="nowPlayingColumn"] {
	display: none;
}*/