:not([class*="divider"]) + div[class*="groupStart"]::before {
    all: unset;
	width: 107%;
    content: "";
    border-top: 1px solid #404349;
    display: block;
    margin-bottom: 10px;
    padding-top: 5px;
	margin-left: -56px;
	margin-right: -56px;
	padding-right: -56px;
}

:not([class*="isUnread"]) + div[class*="message"] > div[class*="contents"] > img[class*="avatar"] {
	margin-top: 15px !important;
}

div[class*="cozyMessage"][class*="mentioned"] {
    background: initial;
}

div[class*="cozyMessage"][class*="mentioned"]::before {
    display: none;
}

div[class*="cozyMessage"][class*="mentioned"] > div[class*="contents"] > div[class*="messageContent"] {
    padding: 1px;
	background: #46423c !important;
	margin-left: 0px !important;
}

div[class*="cozyMessage"][class*="mentioned"] > div[class*="contents"] > div[class*="messageContent"]::before {
    content: " ";
    display: inline-block;
    background-color: #faa61a !important;
    color: #faa61a !important;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
    margin-left: -5px;
    width: 4px;
    margin-right: 0.5px;
	padding-top: 1px;
	padding-bottom: 1px;
}

div[class*="cozyMessage"] > div[class*="contents"] > div[class*="messageContent"] {
    width: calc(100% - 48px);
}

div[tabindex="0"][aria-label^="Add Reaction: "] {
    display: none;
}

div[class^="emojiSeparator"] {
    display: none;
}

div[class*="buttons"] > div[class*="wrapper"] {
    margin-top: 23px;
    transform: scale(0.85);
}

div[class*="groupStart"] > div[class*="buttonContainer"] > div[class*="buttons"] > div[class*="wrapper"] {
    margin-top: 55px;
    transform: scale(0.85);
}

div[class*="divider"] + [class*="groupStart"] > div[class*="buttonContainer"] > div[class*="isHeader"] > div[class*="wrapper"] {
    margin-top: 35px !important;
    transform: scale(0.85);
}

div[class*="buttonContainer"] > div[class*="buttons"][class*="container"] {
    border: none !important;
    border-radius: 0px !important;
    background: transparent;
}

div[class*="buttonContainer"] > div[class*="container"] > div[class*="wrapper"] {
    border: none !important;
    outline: none !important;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none !important;
}

div[tabindex="0" aria-controls*="poput_"]:hover {
    background-color: initial;
}

[class*="unreadPill"] {
    display: none;
}

[class*="isUnread"] {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

[class*="isUnread"]::after {
    content: "NEW MESSAGES";
    background: #36393f;
    margin: 10px;
    color: #A84244;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

[class*="group-spacing"] {
    margin-bottom: 16px;
}

.theme-dark {
    --background-message-hover: #36393f;
    --background-mentioned-hover: #36393f;
}

div[class*="cozyMessage"] {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	line-height: 1rem !important;
}

div[class*="cozyMessage"] > div[class*="markup"] {
	padding: 0 !important;
	line-height: 1rem !important;
}

div[class*="cozyMessage"] > div[class*="container"] {
	line-height: 1rem !important;
	min-height: 0 !important;
}

div[class*="cozyMessage"] > div[class*="container"] > div[class*="markup"] {
	padding: 0 !important;
	line-height: 1rem !important;
}

div[class*="jumpToPresentBar"] {
	padding-bottom: 0px;
	border-radius: 8px;
}

/* Opinionated stuff here */

button[aria-label="Send a gift"] {
	display: none;
}

a[href="/store"] {
	display: none !important;
}

[class*="nowPlayingColumn"] {
	display: none;
}
